* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  color: rgb(50, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(121,9,61,1) 22%, rgba(255,0,119,1) 100%);
  z-index: -1;
 
}

.lotto-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  height: 200px;
  justify-content: space-evenly;
}

.number-container {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  flex-wrap: wrap;
}

li {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #f9e9ce;
  border-radius: 100%;
}

li:last-child {
  border: 1px solid #550a46;
}
li p {
  color: #f9e9ce;
  font-weight: bold;
}
.button-container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
button {
  height: 35px;
  padding: 10px;
  width: 49%;
  color: #f9e9ce;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.3rem;
  background: #550a46;
}

button:hover {
  color: #550a46;
  background: #f9e9ce;
}
